AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1
AWS_ACCOUNT_ID=your_12_digit_account_id

S3_BUCKET_NAME=cloud-cost-forecaster-reports
ALERT_EMAIL=you@example.com