# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Secrets — NEVER commit these
.env
*.csv
*.json.bak

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/data/
terraform/terraform.tfvars
